h1{
    color: #c0262c;
    font-size: 2.5em; /*40/16=2.5*/
    border-bottom: #c0262c solid thin;
    padding-bottom: 7px;
}

h2{
    font-size: 1.75em; /*28px(tamanho que desejo)/16px(referência)= 1.75*/
}

p{
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}

p::first-line{
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

hr{
    border-color: #c0262c;
}

body{
    font-family: helvetica, Arial, sans-serif;
}